@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/PressStart2P.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#display {
  border: solid 1px white;
}
